html{
    scroll-behavior: smooth;
}
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('139.jpg');
    background-position: center;
    backgroung-size: cover;
}
.parallax-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
}
.parallax-foreground{
    position: relative;
    z-index: 1;
}
header{
    background-color: #3333339f;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
header h1{
    margin: 0;
}
nav ul{
    font-family: 'Times New Roman', Times, serif;
    bottom: 100px;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}
nav ul li{
    background-color: rgb(245, 17, 93);
    border: none;
    border-color: #000;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 20px;
    display: inline;
    margin: 0 1rem;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: color0.2s ease;
}
nav ul li a:hover{
    color: #666;
}
nav ul li a:active{
    color: #000;
    transform: scale(0.9);
}
section{
    padding: 2rem;
    text-align: center;
}
section h2{
    margin-top: 0;
}
form{
    display: inline-block;
    margin-top: 1rem;
}
form input, form button{
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}
form button{
    background-color: #5222ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
form button:hover{
    background-color: #ff6347;
}
